<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewBlac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F323C7DE18EB56A200EB63E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F323C7FB18ECFD3400EB63E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3C028A51843F5BD00FF08F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3C028C61843F5BD00FF08F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
